.bg-img {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  &--mobile {
    @include tablet-only() {
      display: none;
    }
  }
  &--tablet {
    display: none;
    @include tablet-only {
      display: block;
    }
    @include desktop-only() {
      display: none;
    }
  }

  &--desktop {
    display: none;
    @include desktop-only() {
      display: block;
    }
  }
}
