.page-header {
  text-align: center;
  margin-top: 24px;

  @include tablet-only {
    text-align: left;
    margin-top: 40px;
    margin-left: 39px;
  }
  @include desktop-only {
    margin-left: 165px;
    margin-top: 76px;
  }
  &__title {
    color: $color-primary;
    font-family: "Barlow Condensed";
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2.7px;
    @include desktop-only {
      font-size: 28px;
    }
    .page-index {
      font-weight: bold;
      margin-right: 18px;
      opacity: 0.5;
    }
  }
}
