.hide {
  display: none;
  @include tablet-only() {
    display: block;
  }
}

.nav {
  font-size: $nav-text;
  font-family: "Barlow Condensed";
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $padding-lr-mobile;
  padding-top: 24px;

  @include tablet-only() {
    padding-left: 39px;
    padding-top: 40px;
    padding-right: 0;
    padding-top: 0;
    // padding-right: 0;
  }
  @include desktop-only() {
    padding-left: 56px;
    padding-top: 40px;
    padding-right: 0;
    padding-top: 24px;
  }
  .logo-wrapper {
    position: relative;
    height: 40px;
    width: 40px;
    @include tablet-only() {
      height: 48px;
      width: 48px;
    }
    .image {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }
  .navbar-wrapper {
    padding-left: 8.5vw;
    background-color: rgb(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    //mobile
    position: absolute;
    height: 100vh;
    padding-top: 118px;
    top: 0px;
    right: 0;
    z-index: 900;

    @include tablet-only() {
      display: flex;
      align-items: center;
      position: relative;
      height: 96px;
      padding: 0 3.3vw;

      // padding-right: 11.5%;
    }

    @include desktop-only() {
      display: flex;
      align-items: center;
      position: relative;
      height: 96px;
      padding-top: 0;
      padding-left: 8.5vw;
      padding-right: 11.5%;
    }
    &::after {
      content: " ";
      position: absolute;
      width: 32.8vw;
      height: 1px;
      background-color: rgb(255, 255, 255, 0.1);
      top: 50%;
      right: 94.4%;
      backdrop-filter: blur(8px);
      @include tablet-only {
        display: none;
      }
      @include desktop-only {
        display: block;
      }
    }
  }
  .navbar {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 68vw;
    gap: 3vw;
    row-gap: 32px;
    color: $color-primary;

    @include tablet-only() {
      flex-direction: row;
      align-items: center;
      height: 100%;
      width: auto;
    }

    .active {
      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 4px;
        height: 100%;
        background-color: $color-primary;
        @include tablet-only() {
          height: 3px;
          width: 100%;
          bottom: 0;
          left: 0;
        }
      }
    }
    &__item {
      position: relative;
      width: 100%;
      list-style-type: none;
      text-transform: uppercase;
      letter-spacing: 2.7px;
      z-index: 10;
      @include tablet-only() {
        display: flex;
        align-items: center;
        width: auto;
        height: 100%;
      }

      &:hover {
        cursor: pointer;
        &::after {
          content: "";
          position: absolute;
          right: 0;
          bottom: 0;
          width: 4px;
          height: 100%;
          background-color: $color-primary;
          opacity: 0.2;
          @include tablet-only() {
            height: 3px;
            width: 100%;
            bottom: 0;
            left: 0;
          }
        }
      }

      &__title {
        color: $color-primary;
        text-decoration: none;
      }

      &__id {
        letter-spacing: 0;
        font-weight: 700;
        margin-right: 14px;
        color: $color-primary;
      }
    }
  }
  .hamburger-btn-wrapper {
    position: relative;
    height: 24px;
    width: 24px;
    z-index: 999;
    @include tablet-only() {
      display: none;
    }
    .button--hamburger {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }
    .button--close {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }
  }
}
