// <style>
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&family=Barlow&display=swap");
// </style>
//variables
@mixin desktop-only {
  @media all and (min-width: 800px) {
    @content;
  }
}

@import "./base/variables";
@import "./components/navbar";
@import "./pages/header-home";
@import "./layout/background";
@import "./layout/page-header";

body {
  font-family: $font-text;
  background-color: $bg-color;
  color: $color-primary;
  font-size: $text-mobile;
  position: relative;
  height: 100vh;
  width: 100vw;
  margin: 0;
  color: $color-secondary;
  font-weight: 100;
  @include desktop-only() {
    font-size: $text;
    position: relative;
  }
}

@import "./components/carousel";
@import "./components/slide";
@import "./layout/sections";
