$color-primary: #ffffff;
$color-secondary: #d0d6f9;
$bg-color: #0b0d17;

$heading-main: 150px;
$heading-planet: 100px;
$heading-planet-mobile: 80px;
$heading-page: 56px;
$heading-page-sub: 32px;
$subheading-main: 28px;
$subheading-page: 14px;
$nav-text: 16px;
$text: 18px;

$heading-main-mobile: 80px;
$subheading-main-mobile: 16px;
$text-mobile: 15px;

// $heading-planet: 100px;
// $heading-planet-mobile: 80px;
// $heading-page: 56px;
// $heading-page-sub: 32px;
// $subheading-page: 14px;
// $nav-text: 16px;

$font-text: "Barlow";
$font-title: "Bellefair";
$font-subtitle: "Barlow Condensed";
